.hello{
    margin: 0;
    margin-top: 10%;
    background-color: black;
    color: #fff;
    text-align: center;
}

.pragraph{
    margin: 0;
    text-align: center;
    background-color: burlywood;
    color: black;
}